.buttonBlock {
    border: 'none';
    border-radius: '9px';
    font-size: '17px';
    width: '284px';
    font-weight: '500';
    height: '32px';
    cursor: 'pointer';
    background: '#fae101';
    align-items: 'center';
    display: 'flex';
    justify-content: 'center';
    padding: '4px 0px';
}